# Scikit-Learn   
## This notebook will cover below 
##### 1.Overview of the sckit-learn 
##### 2.3 algorithms with plots and visualisations

## 1. Overview of the sckit-learn 

# Scikit-learn is one of machine learning library which is buit in Python. It is an open source that anyone can use for free and the update and development of library is ongoing. Also a sample toy data sets and real workd datasets are attacheted thus anyone can try and learn machine learning. Therefore, it is widely available in the world and a great way to learn machine learning with this library. [1][2]

## There are 4 categories in this library, with the cheat sheet, it is easy to identify which algorythm to be used. Here is the 4 categories and the algorithm cheat sheet. [3]

### There are many algothryms in this library which divided into 4 categories below.

#### Classification     <e.g. SGD Classifier, KNEighbors Classifier>
#### Regression         <e.g. SGD Regressor, Lasso>
#### Dimensionality     <e.g reduction Kernel approximation, LLE>
#### Clustering         <e.g.KMeans, MeanShift>

In [24]:
from IPython.display import Image
from IPython.core.display import HTML
Image(url = "https://scikit-learn.org/stable/_static/ml_map.png", width =1000, height = 1000)

##### 2.3 algorithms with plots and visualisations
###### 1. Classification Wine recognition datasets
###### 2. 
###### 3.

###### 1. Classification Wine recognition datasets

########### https://obgynai.com/wine-supervised-learning/

In [25]:
#Numerical array.
import numpy as np

#Data frames. 
import pandas as pd 

#plotting.
import matplotlib.pyplot as plt

#logistic regression.
import sklearn.linear_model as lm

#K nearest neaigbours.
import sklearn.neighbors as nei

#Helper functions.
import sklearn.model_selection as mod

#Fansier, statical plots.
import seaborn as sns

In [26]:
#Standar plot size.
plt.rcParams['figure.figsize']=(15,10)

#Standard colour scheme.
plt.style.use('ggplot')

### Wine dataset

In [27]:
# Load the irish data set from a URL
from sklearn.datasets import load_wine
data = load_wine()
data.target[[10,80,140]]
list(data.target_names)

['class_0', 'class_1', 'class_2']

In [28]:
data["target"]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [29]:
import pandas as pd
y_all = pd.DataFrame(data["target"], columns = ["target"])
y_all = y_all.replace({0:'class_0', 1:'class_1', 2:'class_2'})
y_all.head()

    target
0  class_0
1  class_0
2  class_0
3  class_0
4  class_0

In [30]:
X_all= pd.DataFrame(data["data"],columns = data["feature_names"])
X_all.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [31]:
X_all.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size = 0.33, random_state=0)

In [33]:
train = pd.concat([X_train, y_train], axis=1, sort=False)

In [34]:
train, test =mod.train_test_split(X_all)

In [35]:
train.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
163,12.96,3.45,2.35,18.5,106.0,1.39,0.70,0.40,0.94,5.28,0.68,1.75,675.0
167,12.82,3.37,2.30,19.5,88.0,1.48,0.66,0.40,0.97,10.26,0.72,1.75,685.0
146,13.88,5.04,2.23,20.0,80.0,0.98,0.34,0.40,0.68,4.90,0.58,1.33,415.0
43,13.24,3.98,2.29,17.5,103.0,2.64,2.63,0.32,1.66,4.36,0.82,3.00,680.0
148,13.32,3.24,2.38,21.5,92.0,1.93,0.76,0.45,1.25,8.42,0.55,1.62,650.0

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 163 to 117
Data columns (total 13 columns):
alcohol                         133 non-null float64
malic_acid                      133 non-null float64
ash                             133 non-null float64
alcalinity_of_ash               133 non-null float64
magnesium                       133 non-null float64
total_phenols                   133 non-null float64
flavanoids                      133 non-null float64
nonflavanoid_phenols            133 non-null float64
proanthocyanins                 133 non-null float64
color_intensity                 133 non-null float64
hue                             133 non-null float64
od280/od315_of_diluted_wines    133 non-null float64
proline                         133 non-null float64
dtypes: float64(13)
memory usage: 14.5 KB

In [37]:
train.groupby("target").mean()

KeyError: 'target'

####[1]https://scikit-learn.org/stable/
####[2]https://techacademy.jp/magazine/17375
####[3] https://stackoverflow.com/questions/32370281/how-to-embed-image-or-picture-in-jupyter-notebook-either-from-a-local-machine-o